{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Library System{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'Library_System/main.css' %}">
    <link rel="stylesheet" href="{% static 'Library_System/nav_foot.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% if not is_404 %}
        <!-- NAVBAR (acts as header now) -->
        {% include 'Library_System/navbar.html' %}
    {% endif %}

    <!-- MAIN CONTENT -->
    <main class="container">
        {% block content %}
        <p>No content available</p>
        {% endblock %}
    </main>

    {% if not is_404 %}
        <!-- FOOTER --> 
        {% include 'Library_System/footer.html' %}
    {% endif %}

</body>
</html>